@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
}

html,
body,
#root {
	display: flex;
	flex-direction: column;
}

html {
	min-height: 100vh;
	padding: 20px;
}

body,
#root {
	flex-grow: 1;
}

body {
	margin: 0;
	font-family:
		'Montserrat',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f9f9f9;
	color: #555;
	font-weight: bold;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.i {
	fill: #989898;
	max-height: 16px;
	max-width: 16px;
}

h2 {
	margin: 0;
	font-size: 27px;
	font-weight: 600;
}

input,
textarea,
select {
	border: solid 2px #ccc;
	color: #888;
	background: #fff;
	font-family: 'Montserrat';
	font-size: 17px;
	font-weight: 600;
	display: block;
	border-radius: 8px;
	padding: 20px 14px;
	width: 100%;
	&::-webkit-datetime-edit-fields-wrapper,
	&::-webkit-calendar-picker-indicator {
		padding: 0;
	}
}
select:focus {
	border-color: rgb(16, 16, 16);
}
option {
	color: #888;
	background: #fff;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 600;
}
textarea {
	resize: none;
}

button {
	border: solid 2px #ccc;
	font-family: 'Montserrat';
	font-size: 17px;
	font-weight: 600;
	border-radius: 8px;
	padding: 20px 14px;
	background: #fff;
	color: #888;
	cursor: pointer;
	width: 100%;
	&:active {
		border-color: rgb(16, 16, 16);
	}
	&:hover {
		color: #555;
	}
}
